name: Release New Version
on:
  release:
    types: [published]
jobs:
  test:
    name: "Publish Release"
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      deployments: write
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          ref: ${{ github.event.release.tag_name }}
      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version-file: ".nvmrc"
          registry-url: "https://registry.npmjs.org"
          cache: "pnpm"
      - name: Install Dependencies
        run: pnpm install
      - name: Build Library
        run: pnpm build
      - name: Lint Code
        run: pnpm lint:ci
      - name: Publish Library
        run: pnpm publish --access=public --no-git-checks
        env:
          NPM_CONFIG_PROVENANCE: true
